html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="url"],
  input[type="number"],
  textarea,
  select{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #e77f00;
  }
  
  button.go-back {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button.go-back:hover {
    background-color: #555;
  }
  